version: '3.9'

services:
  backend:
    container_name: gmail-email-fetcher
    build: .
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
